.example-card {
  max-width: 10%;
  margin-right: 5px ;
  background-color: aliceblue
}

.example-header-image {
  background-size: cover;
}

.example-option-img {
  width: 50;
  height: 50;
  vertical-align: middle;
  margin-right: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 50%;
}

.tile {
  margin-left: 10px;
  margin-right: 5px;
  max-width: 20%;
  height: 400px;
}